* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Arial", sans-serif;

}

html, body, #root, .full-size {
  height: 100%;
  width: 100%;
}

#root {
  background: #282828;
}


button, input {
  border: none;
  outline: none;
}

.btn {
  color: #fff;
  background: #3C3C3C;
  border-radius: 10px;
  padding: 1rem;
  width: 100%;
  cursor: pointer;

  transition: background-color 50ms ease-in-out;

  &:hover {
    background: #323232;
  }

  &:active {
    background: #282828;
  }
}

#create-button {
  font-size: 20px;
}

.download-button {
  font-size: 16px;
}

#app {
  display: flex;
}

.content-center {
  display: flex;
  justify-content: center;
  align-items: center;
}


.text-center {
  text-align: center;
}


.qr-form {
  display: block;
  margin: auto;
}


.qr-form-wrapper {
  display: flex;
  gap: 1rem;
  background: #737373;
  padding: 2rem;
  border-radius: 5px;

  .qr-form-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;

    h2 {
      margin-bottom: 1rem;
    }
  }


  .qr-form-edit, .qr-form-answer {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .qr-form-edit {
    .qr-form-edit-section {
      display: flex;
      flex-direction: column;
      gap: .3rem;
    }
  }

  .qr-form-answer-image {
    border-radius: 5px;
    overflow: hidden;

    .qr-form-answer-image-bg {
      position: relative;
      background: #ffffff;
      width: 250px;
      height: 250px;

      img {
        width: 100%;
        height: 100%;
      }
    }

    img {
      border-radius: 5px;
    }
  }

  .qr-form-text-input {
    font-size: 16px;
    color: white;
    padding: .5rem;
    border-radius: 5px;
    background: none;
    border: 1px black solid;

    &::placeholder {
      color: rgba(255, 255, 255, 0.6);
    }
  }
}

@media (min-width: 769px) {
  .qr-form-text-input {
    width: 400px;
  }
}

@media (max-width: 768px) {

  .qr-form {
    width: 100%;
  }
  #create-button {
    margin-top: 1rem;
  }

  .qr-form-wrapper {
    flex-direction: column;
  }

  .qr-form-text-input {
    width: 100%;
  }
}